<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/" class="logo title">Movie Tracker</a>
  </header>
  
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
  
</nav>

<script>
  const id = "{{id}}";
  if(id !== "") { // stops error on homepage as no id is passed
    const element = document.querySelector("#{{id}}");
    element.classList.add("active");
  }
</script>
