<nav class="ui menu">
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/" class="logo title">Movie Tracker</a>
  </header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>
   document.querySelector("#{{id}}").classList.add("active");
</script>
