{{> menu}}

{{#with movieCollection}}
<section class="ui center aligned middle aligned segment" style="overflow:scroll;">
  <h2 class="ui header">
    {{title}}
  </h2>
  {{> listmovies}}

  <a href="/dashboard" class="ui primary button"><i class="angle double left icon"></i>Return To Dashboard</a>{{#if nextId}}<a href="{{nextId}}" class="ui primary button">Next Collection <i class="angle double right icon"></i></a>{{/if}}
</section>

<section class="ui center aligned middle aligned segment">
  {{> addmovie}}
</section>
{{/with}}
