{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{movieCollection.title}}
  </h2>
  {{> listmovies}}

  <a href="/dashboard" class="ui primary button"><i class="angle double left icon"></i>Return To Dashboard</i></a>{{#if nextId}}<a href="{{nextId}}" class="ui primary button">Next Collection <i class="angle double right icon"></i></a>{{/if}}
</section>
