{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h1>Welcome to the Movie Tracker!</h1>

  <p>
    This web application allows users to maintain a collection of their favourite movies! It contains data about the movies like categories and personal movie ratings.
  </p>

</section>

<section class="ui center aligned middle aligned segment">
  
  <img src="movies.webp" alt="Gallery of movies">

</section>

<section class="ui center aligned middle aligned segment">
  
  {{> appstats}}

</section>


