{{> menu id="stats"}}

<section class="ui center aligned middle aligned segment">

  <h2>Playlist App Statistics</h2>

  <h3 class="ui header">
    App Statistics
  </h3>
  <p>
    The playlist app now contains: 
  </p>
  
  {{> appstats}}
  {{> stats}}
</section>
